/* Algemeen */
*
{
	margin: 0px;
	padding: 0px;
}


@font-face 
{
	font-family: abeezee;
	src: url(fonts/abeezee.ttf);
}

@font-face 
{
	font-family: caveat;
	src: url(fonts/Caveat-Regular.ttf);
}

@font-face
{
	font-family: "Ms Madi";
	src: url(fonts/MsMadi-Regular.ttf);
}

@font-face 
{
	font-family: bebasneue;
	src: url(fonts/BebasNeue.ttf);
}

﻿#container 
{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	margin: 0 auto;
}

header 
{
	display: grid;
	background-color: #EDE5BB;
	grid-column: 1/4;
	grid-row: 1;
	box-shadow: 0px 7px 5px -2px #808080;
	height: 128px;
}



.menu1-container
{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-evenly;
	
}

	.menu1-container > p 
	{
		color: #95261F;
		font-size: 64px;
		font-family: abeezee;
	}

	.menu1-container > a 
	{
		font-size: 40px;
		font-family: caveat;
		text-decoration: none;
		color: #95261F;
	}

footer 
{
	display: grid;
	max-height: 118px;
	background-color: #EDE5BB;
	grid-column: 1/4;
	grid-row: 3;
}

.menu2-container 
{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-evenly;
	padding-left: 55px;
	padding-right: 55px;
}

	.menu2-container > p 
	{
		color: #95261F;
		font-size: 40px;
		font-family: caveat;

	}

	.menu2-container > h1 
	{
		color: #95261F;
		font-size: 96px;
		font-family: abeezee;
		margin-right: auto;
	}
	.menu2-container > div 
	{
		margin-left: auto;
		display: flex;
		
	}
.icon
{
	max-width: 46px;
	max-height: 32px;
	align-items: center;
}



/* Home */
@keyframes pictures
{
	/* background-colors moeten aangepast worden naar imgs */
	0% {background-image: url("../afbeeldingen/homeBanner.png");}
	33% {background-image: url("../afbeeldingen/homeBanner2.png");}
	66% {background-image: url("../afbeeldingen/drankenBanner.png");}
	100% {background-image: url("../afbeeldingen/homeBanner.png");}
}

@keyframes cirkels1
{
	0% {opacity: 1;}
	33% {opacity: 0;}
	66% {opacity: 0;}
	100% {opacity: 1;}
}

@keyframes cirkels2
{
	0% {opacity: 0;}
	33% {opacity: 1;}
	66% {opacity: 0;}
	100% {opacity: 0;}
}

@keyframes cirkels3
{
	0% {opacity: 0;}
	33% {opacity: 0;}
	66% {opacity: 1;}
	100% {opacity: 0;}
}

.homeBanner
{
	min-height: 823px;
	grid-row: 2;
	grid-column: 1/4;
	background-image: url("../afbeeldingen/homeBanner.png");
	animation-name: pictures;
	animation-duration: 30s;
	animation-delay: 2s;
	animation-fill-mode: forwards;
	animation-iteration-count: infinite;
}

.welkom
{
	font-family: "Ms Madi";
	color: #95261F;
	font-size: 100px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.middleHome
{
	display: flex;
	justify-content: center;
	padding-top: 332px;
	padding-bottom: 175px;
}

.afbeeldingenHome
{
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.parent
{
	position: relative;
	top: 0px;
	left: 0px;
}

.image1
{
	position: relative;
	top: 0px;
	left: 0px;
	opacity: 1;
	animation-name: cirkels1;
	animation-duration: 30s;
	animation-delay: 2s;
	animation-fill-mode: forwards;
	animation-iteration-count: infinite;
}

.image2
{
	position: absolute;
	top: 0px;
	left: 0px;
	opacity: 0;
	animation-name: cirkels2;
	animation-duration: 30s;
	animation-delay: 2s;
	animation-fill-mode: forwards;
	animation-iteration-count: infinite;
}

.image3
{
	position: absolute;
	top: 0px;
	left: 0px;
	opacity: 0;
	animation-name: cirkels3;
	animation-duration: 30s;
	animation-delay: 2s;
	animation-fill-mode: forwards;
	animation-iteration-count: infinite;
}


/* Menu */
#frontmenu-container{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	margin: 0 auto;
} 

.Menufoto
{ 
width: 716px;
height: 824px;
left: 0px;
top: 128px;
background: url(image);
} 

.Menudrink{
position: relative;
left: 30%;
right: 51.29%;
top: 33.89%;
bottom: 25.6%;
background: url(image.png);
}

.Menueten{
position: relative; 
right: 0%;
top: 33.89%;
bottom: 25.78%;
background: url(image.png);
}



/* Dranken */
#drankenContainer
{
	display: grid;
	grid-template-columns: repeat(16, 1fr);
	grid-column: 1/16;
	font-family: Caveat, Sans-Serif;
	background-image: url(../afbeeldingen/drankenBanner.png);
	/*background-color: cornflowerblue;*/
	background-size: cover;
	color: #95261F;
}

#bovenstukDranken
{
	grid-column: 7/17;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 30px 0px 70px 0px;
}

#bovenstukDranken h1
{
	font-size: 48px;
}

#terugDranken
{
	border: solid #95261F 2px;
	background-color: #95261F;
	padding:0px 65px 0px 40px;
	margin-right: 30px;
}

#terugDranken a
{
	color: #EDE5BB;
	text-decoration: none;
	font-family: bebasneue;
	font-size: 36px;
}

#warmeDranken
{
	grid-column: 3/7;
	margin-bottom: 70px;
}

#warmeDranken h2
{
	font-size: 36px;
}

#warmeDranken h3
{
	font-size: 32px;
}

.prijsRij
{
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
}

#koudeDranken
{
	grid-column: 10/15;
}

#koudeDranken h2
{
	font-size: 36px;
}

#koudeDranken h3
{
	font-size: 32px;
}

#illustarieDranken
{
	grid-column: 14/16;
	display: flex;
	justify-content: center;
}

#illustartiek
{
	/*width:;*/
}

#illustartiet
{
	/*/width: ;*/
}

/* Eten */



/* Nieuwe producten */

.middleNP
{
	min-height: 1640px;
	grid-row: 2;
	grid-column: 1/4;
}
.topNP 
{
	display: grid;
	height: 430px;
	grid-column: 1/4;
	background: rgba(237, 229, 187, .5);

}
	.topNP > p 
	{
		display: flex;
		font-family: caveat;
		font-size: 64px;
		justify-content: center;
		color: #95261F;
		padding-top: 10px;
	}
	.topNP > img 
	{
		height: 479px;
		width: 1533px;
		margin-left: auto;
		margin-right: auto;
		padding-top: 70px;
		position: relative;
		top: -65px;
		z-index: 9;
	}
	.topNP > div {
		display: grid;
		background-color: #95261F;
		width: 300px;
		height: 53px;
		margin-left: auto;
		position: relative;
		top: -65px;
		right: 33px;
	}
.TerugNP 
{
	display: flex;
	text-decoration: none;
	color: #EDE5BB;
	justify-content: center;
	align-items: center;
	font-size: 55px;
	position: relative;
	top: -51px;
	font-family: bebasneue;

}

.TerugIconNP 
{
	position: relative;
	left: 20px;
	font-size: 40px;
	color: #EDE5BB;
	font-family: bebasneue;
}

.productenNP
{
	display: grid;
	height: 1300px;
	align-items: center;

}
	.productenNP > div 
	{
		width: 725px;
		margin-left: auto;
		color: #95261F;
	}
		.productenNP > div > .theeNP
		{
			height: 420px;
			width: 321px;
		}

		.productenNP > div > .macaronNP 
		{
			height: 350px;
			width: 321px;
		}

		.productenNP > div > .textNP 
		{
			width: 391px;
			margin-left: auto;
			font-size: 32px;
			display: inline-block;
			position: relative;
			top: -85px;
			left: 15px;
			font-family: caveat;
		}
		.productenNP > div > .textNP > div 
		{
			width: 391px;
			margin-left: auto;
			font-size: 24px;
			font-family: abeezee;
		}
		.descNP {
			font-size: 16px;
			position: relative;
			top: 22px;
			font-family: abeezee;
		}
		.thee2NP
		{
			position: relative;
			top: 25px;
		}
		.macNP
		{
			position: relative;
			top: 200px;
		}
		#textNP2
		{
			position: relative;
			top: -155px;
		}

/* Over ons */

#overOnsContainer{
	display: grid;
	grid-template-columns: 1fr 1fr;
}


#tekstAfbeelding{
	
	height: 800px;
	background: url("../afbeeldingen/overOnsKoffie.png");
	background-size: 750px;
	background-repeat: no-repeat;
	text-align: center;
	padding: 50px;
	color: #95261F;
}



#tekstAfbeelding > h6{
	font-size: 35px;
	font-weight: normal;
	font-family: caveat;
}


/* Recepten */
.receptencontent > h2 
{
	text-align: center;
	font-family: caveat;
	font-size: 64px;
	color: #95261F;
}

.bereidingswijze > h3 
{
	font-family: caveat;
	font-size: 48px;
	color: #95261F;
}

.bereidingswijze > ol
{
	font-family: abeezee;
	font-size: 24px;
	color: #95261F
}

#youtubecontainer, .yt
{
	display: flex;
	justify-content: space-around;
}

#youtubecontainer > img 
{
	height: 100px;
	width: 100px;
	margin: 50px;
}

#youtubecontainer 
{
	align-items: center;
}

.yt 
{
	background-color: #EDE5BB;
	padding: 50px;
	margin-bottom: 50px;
	border-radius: 5%;
}

iframe 
{
	width: 500px;
	height: 500px;
	border-radius: 5%;
}

.receptencontent 
{
	background-image: url("../afbeeldingen/receptenBanner.jpg");
	background-size: cover;
}





/* Nieuws */
.middel-nieuws
{
	grid-column: 1/4;
	min-height: 800px;
	background-image: url("../afbeeldingen/nieuwsbanner.png");
}


/* Regels */
.regelsbanner
{
	min-height: 823px;
	background-image: url("../afbeeldingen/regelsbanner.png"); 
}

.kopjeregels
{
	justify-content: center;
	align-items: center;
	padding-top: 10px;
	display: flex;
	font-family: caveat;
	font-size: 64px;
	color: #95261F;
}

.plaatjesregels{
	display: flex;
	align-items: center;
	justify-content: space-around;
	padding-top: 200px;
 
}
.kopjesregels{
	align-items: center;
	display: flex;
	font-family: caveat;
	font-size: 48px;
	color: #95261F;
	flex-direction: column;
}

.regelstekstcontainer{
	display: flex;
	padding-top: 300px;
	grid-row: 2/3;
	column-gap: 100px;
	color: #95261F;
	font-size: 24px;
	padding-left: 265px;
	padding-right: 265px;
	align-items: center;
	
}

.afmetingregels{
	width: 320px;
    height: 149px;
}


